html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.navbar {
  background-color: #000;
}

.carousel-item {
  height: 90vh;
  min-height: 500px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel .item {
  height: 500px;
}

.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}

h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}

.noborder {
  background: none;
}
.specLabel {
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: bold;
  white-space: nowrap;
  padding-right: 10px;
}
.special {
  background-color: #f2f4f7;
}
.phoneTitle {
  text-align: center;
  font-weight: bold;
}
img:hover:not(#specImage) {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);

  -webkit-transition: transform 0.1s ease-in-out;
  -moz-transition: transform 0.1s ease-in-out;
  -ms-transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
}

#mainContent {
  min-height: 100vh;
}

#contact {
  padding: 5% 10% 5% 10%;
}
